.contactSection {
    background-color: $textColor;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    color: white;
}

.contactSection img {
    max-width: 35vw;
}

.contactSection section {
    padding: 20px;
    width: 45vw;
}

.contactSection h3 {
    font-size: 25px;
}

.contactSection form {
    color: white;
}

.contactSection form input {
    width: 85%;
    height: 35px;
    border: 0;
    border-bottom: 3px solid $siteBlue;
    border-radius: 3px;
    margin-bottom: 8px;
}

.contactSection form textarea {
    border: 0;
    border-bottom: 3px solid $siteBlue;
    border-radius: 3px;
    margin-bottom: 8px;
    width: 85%;
    height: 50px;
    resize: none;
}

.contactSection form #submitButton {
    background-color: $siteBlue;
    color: $textColor;
    font-weight: 700;
    border: 0;
    width: 25%;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 60px;
}

@include mobile{
    .contactSection section {
            width: 80vw;
            margin: 0 auto;
    }
    
    img[alt="envalope"] {
        width: 40vw;
        margin-left: 30vw;
    }

    .contactSection form input,
    .contactSection form textarea {
        width: 100%;
    }

    .contactSection form #submitButton {
        display: block;
        width: 50%;
        margin: 20px auto 40px;
    }
}