header {
    font-size: 25px;
    color: $textColor;
    background-color: #F6F6F6;
    width: 100vw;
    height: 10vh;
    max-height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
}

header>a {
    font-family: satisfy;
    font-size: 1.6em;
    margin-right: 2%;
    text-decoration: none;
    color: #000;
}

.hamburgerWrapper {
    display: none;
    // margin: 15px 10px;
}

.hamburgerWrapper ul {
    list-style-type: none;
    height: 40px;
}

.hamburger {
    margin-top: 5px;
    height: 8px;
    width: 40px;
    border-radius: 20%/90%;
    background-color: $siteBlue;
    transition: all 1s ease;
    position: relative;
}

nav input[type="checkbox"]:checked+ul.hamburgerWrapper li:nth-child(1) {
    transform: translateY(12.5px) rotate(45deg);
}

nav input[type="checkbox"]:checked+ul.hamburgerWrapper li:nth-child(3) {
    transform: translateY(-12.5px) rotate(-45deg);
}

nav input[type="checkbox"]:checked+ul.hamburgerWrapper li:nth-child(2) {
    transform: rotate(-45deg);
}

input[type="checkbox"] {
    display: none;
}

header nav a {
    transition: all 0.2s ease-in-out;
}

header nav li {
    display: inline;
    padding-right: 20px;

}

header nav a:hover,
header nav #homeLink {
    color: $siteBlue;

}


@include mobile {
    header {
        position: absolute;
        display: block;
        padding: 10px 0;
        width: 100%;
    }

    header>a {
        display: none;
    }


    .hamburgerWrapper {
        display: block;
        margin-left: 10px;
        margin-bottom: 8px;
    }

    input[type="checkbox"] {
        display: block;
        position: absolute;
        left: 10px;
        top: 15px;
        width: 40px;
        height: 35px;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }

    header nav ul.menu {
        opacity: 0;
        transition: all 1s ease;
        padding-top: 500px;
        padding: 0;
        text-align: center;
        margin-top: 0;
    }

    header nav ul li {
        margin: 0;
        display: block;
        width: 100%;
        height: 60px;
        line-height: 2.5;
        background-color: #fff;
        border-top: 1px solid $siteBlue;
    }

    input[type="checkbox"]:checked~ul.menu {
        opacity: 1;
        clear: both;
    }
}