header {
    font-size: 25px;
    color: $textColor;
    background-color: white;
    width: 100vw;
    height: 10vh;
    max-height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header>a {
    font-family: satisfy;
    font-size: 1.6em;
    margin-right: 2%;
    text-decoration: none;
    color: #000;
}

.hamburger {
    font-size: 1.4em;
    color: $siteBlue;
    padding: 8px 15px;
    background-color: #fff;
    display: none;
}

input[type="checkbox"]{
    display: none;
}

header nav a {
    transition: all 0.2s ease-in-out;

}

header nav li {
    display: inline;
    padding-right: 20px;

}

header nav a:hover {
    color: $siteBlue;

}

header nav #homeLink {
    color: $siteBlue;
}

@include mobile {
    header {
        position: absolute;
        display: block;
        height: fit-content;
        padding: 0;
    }

    header>a {
        display: none;
    }

    .hamburger {
        display: block;
    }

    input[type="checkbox"]{
        display: block;
        position: absolute;
        left: 15px;
        top: 15px;
        width: 30px;
        height: 30px;
        opacity: 0;
        cursor: pointer;
    }

    header nav ul {
        display: none;
        padding: 0;
        text-align: center;
        margin-top: 0;
    }

    header nav ul li {
        margin: 0;
        display: block;
        width: 100%;
        height: 60px;
        line-height: 2.5;
        background-color: #fff;
        border-top: 1px solid $siteBlue;
    }

    input[type="checkbox"]:checked+ul {
        display: block;
        clear: both;

    }
}