.mainHead {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: #fff;
    padding: 150px;
    text-align: center; 
}

.mainHead h1 {
    font-size: 4em;
    margin-bottom: 0;
    
}

.mainHead h2 {
    font-size: 2em;
}

.logoSection {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    box-shadow: 0px 3px 3px #00000029;
}

.logoSection img {
    width: 6vw;
    max-width: 100px;
}

@include mobile {
    .mainHead {
        padding: 100px 50px;
    }

    

    .logoSection img {
        width: 13vw;
    }
}